@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Material Login Form</title>
    <link href="~/Content/asset_admin/reset.min.css" rel="stylesheet" />
    <link href="~/Content/asset_admin/css.css" rel="stylesheet" />
    <link href="~/Content/asset_admin/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/asset_admin/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Content/asset_admin/index.js"></script>

</head>
<body>

    <!-- Mixins-->
    <!-- Pen Title-->
    <div class="pen-title">
        <h1>Đăng nhập vào trang admin</h1>
        <h3 class="thong_bao_dang_nhap_admin">@ViewBag.Thongbao</h3>
    </div>
    <div class="rerun"><a href="">Xóa trắng</a></div>
    <div class="container">
        <div class="card"></div>
        <div class="card">
            <h1 class="title">Login</h1>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <div class="input-container">
                    <input type="text" id="#{label}" name="username" />
                    <label for="#{label}">Tên đăng nhập </label>
                    <div class="bar"></div>
                    @ViewData["Loi1"]
                    
                </div>
                
                <div class="input-container">
                    <input type="password" id="#{label}" name="password"  />                    
                    <label for="#{label}">Mật khẩu</label>
                    <div class="bar"></div>
                    @ViewData["Loi2"]
                   
                </div>
                
                <div class="button-container">
                    <button type="submit"><span>Đăng nhập</span></button>
                </div>
                <!-- <div class="
                    
                    
                    
                    "><a href="#">Forgot your password?</a></div>-->
            }
        </div>

    
</body>
</html>
