<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quản lý bán sách</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/mysite.css">
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
</head>
<body>
    <!-- BEGIN: HEADER -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <a class="navbar-brand" href="#">QLBANSACH</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <!-- NAVIGATION ITEMS -->
                    <li>
                        @Html.ActionLink("Trang chủ","Index","Admin")
                    </li>
                    <li>
                        @Html.ActionLink("Quản lý sách", "Sach", "Admin")
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END: HEADER -->
    <!-- BODY -->
    <div class="container-fluid">
        <div>
            @RenderBody()
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="container-fluid text-center">
        <p>ⒸTiệm sách của Urine(2023)</p>
    </footer>
</body>
</html>
