/* Product Detail*/
.details-img{
width: 300px;
float: left;
border-left: dotted 1px; 
border-color: azure;
}
.details-product{
    width: 60%;
    float: left;
    padding: 10px;
}
.details-product h4{
    font-weight: bold;
    color: red;
}
.thumbnail {
    height: 500px;
    width: 350px;
    margin-right: 100px;
}


.thumbnail img{
    height:300px;
    ;
}
.details-product .mota{
    text-align: justify;
}
.details-product .mota span{
    font-weight: bold;
}
.details-product .gia_ban{
    font-weight: bold;
}
.details-product .gia_ban span{
    color: red;
    font-size: 16px;
}
.col-sm-2{
    color:#d2691E;
    background:#C0C0C0;
}

#datmua a{
    clear: both; background-color:red;
    color:white; width: 120px; height:35px;
    display:block; float:right; text-align:center;
    padding-top: 10px; text-decoration:none; font-weight:bold;
}
#SearchString{
    color:#000000;
    text-align: bold;
}
#datmua a:hover{
    background-color:grey;
    color:red;
}
/* END Product Detail*/
/*  Dang ky*/
.register h2{
    text-align: center;
}
.register tr{
    height: 40px;
}
/* END Dang ky*/

/* Dang nhap*/
.dangnhap h4{
    color: red;
    text-align:center;
}
.dangnhap h3{
    text-align:center;
}
.dangnhap tr{
    height:46px;
}

.TimKiem{
    margin-top:13px;
    color:#C0C0C0;    
    font-weight:bold;
}

/* END Dang nhap*/

/*Gio hang*/
.gio_hang h2{
    text-align:center;
}
.gio_hang tr{
    text-align:center;
    font-weight:bold;
}
.gio_hang tr.tong_tien{
    text-align:center;
    font-weight:bold;
    color:red;
}
.gio_hang .so_luong{
    background-color: yellow;
}
.gio_hang .xoa_gio_hang 
{
    font-weight: bold;
    color: blue; 
    text-align: right;
}
.gio_hang .xoa_tat_ca
{
    color:blue;
    text-align:right;
}
/*END Gio hang*/

/* Thông tin đặt hàng */
.thong_tin_dat_hang h2{
    text-align: center;
}
.thong_tin_dat_hang tr
{
    height:40px;
}
.thong_tin_dat_hang tr td:last-child
{
    font-weight:bold;
}
/*END Thông tin đặt hàng*/
