@model QLBANSACH.Models.SACH
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3>Thông tin chi tiết sách</h3>
<div>
    <div class="details-img">
        <img src="~/Models/Images/@Model.AnhBia" width="100%" />
    </div>
    <div class="details-product">
        <h4>Tên sách: @Model.TenSach</h4>
        <p class="mota"><span>Mô tả:</span> @Model.MoTa</p>
        <p class="gia_ban">Giá bán: <span>@Model.GiaBan VNĐ</span> </p>
    </div>
    <div>
        <div id="datmua">
            <a href="@Url.Action("Themgiohang","Giohang", new { @Masach = Model.MaSach, @strURL = Request.Url.ToString() })" class="list-group-item">
                ĐẶT MUA
            </a>
        </div>
    </div>
</div>
