
@{
    ViewBag.Title = "Contact";
}

<address>
    PuJileo
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0865166769
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:btgrlqt@gmail.com">btgrlqt@gmail.com</a><br />
</address>