@model IEnumerable<QLBANSACH.Models.NHAXUATBAN>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTheoNXB", "BookStore", new { id = @item.MaNXB })" alt="" class="list-group-item">@item.TenNXB</a>
    }
    

</div>